.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.opendb
*.vsidx

[Bb]in/
[Oo]bj/
[Xx]64/
[Aa]rm/
[Aa]rm64/
Debug/
Release/

*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.exe
*.recipe
*.ipch
*.obj
*.iobj
*.ipdb

.utmp/
[Bb]uild/